div:first-child{
  background-color: lightblue;
}
*{
  text-align: center;
}
ul{
  display: inline-block;
  margin: 10px 0;
}
ul li{
  margin: 0 10px;
}
ul li>a{
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  ul li{
    margin: 0 5px;
  }

  ul li>a{
    font-size: 14px;
  }
}
