img[alt="photo"]{
  max-width: 250px;
  height: auto;
  border-radius: 150px;
}

ul{
  list-style-type: '- ';
}

b{
  font-size: 18px;
}

li{
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  h1{
    text-align: center;
  }

  img[alt="photo"]{
    display: block;
    margin: 0 auto;
  }
}
